.h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:50px ;

}
body{
    
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.b00puwieVkmrU_keDLKyBAHaEQ&pid=Api&P=0&h=220);
    background-repeat: no-repeat;
    background-size: cover;
}
iframe{
    min-width:800px ;
    min-height:800px ;
    margin-top:50px ;
}
.h2{
    margin-bottom: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:50px ;
}

